 /* poppins google font */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 /*
 bg-clr : #212529
 accent-clr: #ffb742
 font-clr: #fcfcfc
 */

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Poppins", serif;
     font-style: normal;
     color: #fcfcfc;
     font-size: 13px;
     font-weight: 400;
 }

 body{
     background-color: #212529;
 }

 nav{
     display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 40px 120px;
 }

 nav .logo img{
     overflow: hidden;
     background-size: cover;
     height: 60px;
     width: 60px;
     border-radius: 300px;
 }

 nav .links{
     display: flex;
     justify-content: center;
    align-items: center;
     gap: 20px;
 }

 nav .links a{
     text-decoration: none;
     color: #fcfcfc;
     position: relative;
 }

 nav .links a::after {
     content: '';
     height: 1.7px;
     width: 100%;
     background-color: #fcfcfc;
     border-radius: 100px;
     position: absolute;
     left: 0;
     top: 25px;
     transform: scaleX(0);
     transition: transform 0.4s;
 }

 nav .links a:hover::after {
     transform: scaleX(1);
 }

 #hero{
    display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 40px 120px;
 }

 #hero .mesh .mesh1,
 #hero .mesh .mesh2,
 #hero .mesh .mesh3{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #hero .mesh .mesh1 .mesh-1,
 #hero .mesh .mesh1 .mesh-2,
 #hero .mesh .mesh1 .mesh-3,
 #hero .mesh .mesh1 .mesh-4,
 #hero .mesh .mesh1 .mesh-5,
 #hero .mesh .mesh1 .mesh-6,
 #hero .mesh .mesh2 .mesh-1,
 #hero .mesh .mesh2 .mesh-2,
 #hero .mesh .mesh2 .mesh-3,
 #hero .mesh .mesh2 .mesh-4,
 #hero .mesh .mesh2 .mesh-5,
 #hero .mesh .mesh2 .mesh-6,
 #hero .mesh .mesh3 .mesh-1,
 #hero .mesh .mesh3 .mesh-2,
 #hero .mesh .mesh3 .mesh-3,
 #hero .mesh .mesh3 .mesh-4,
 #hero .mesh .mesh3 .mesh-5,
 #hero .mesh .mesh3 .mesh-6{
     height: 220px;
     width: 220px;
     border: 1px solid rgba(250, 250, 250, 0.07);
 }

 #hero .hero-texts{
     display: flex;
     justify-content: center;
    align-items: center;
     flex-direction: column;
     margin-top: -630px;
 }

 #hero .hero-texts .title p,
 #hero .hero-texts .title p span{
     font-size: 24px;
 }

 #hero .hero-texts .title p span{
     font-weight: 700;
     text-decoration: underline;
 }

 #hero .hero-texts .sub-title p,
 #hero .hero-texts .sub-title p span{
     font-weight: 500;
     font-size: 50px;
 }

 #hero .hero-texts .sub-title p span{
     color: #ffb742;
 }

 #hero .hero-texts .icons-and-buttn{
     margin-top: 20px;
     display: flex;
     justify-content: center;
    align-items: center;
     gap: 40px;
 }

 #hero .hero-texts .icons-and-buttn .icons{
     display: flex;
     justify-content: center;
    align-items: center;
    gap: 20px;
 }

 #hero .hero-texts .icons-and-buttn .icons i{
     font-size: 16px;
 }

 #hero .hero-texts .my-image{
     margin-top: 30px;
 }